<%- include("header") %>
    <div class="box" id="heading">
        <p>
            <%= Title %>
        </p>
    </div>
    <div class="box">
        <% for( let i=0;i < ListItems.length;i++ ) { %>
            <form action="/delete" method="post">
                <div class="item" id="<%=i%>">
                    <input class="listbox" type="checkbox" name="checkboxName" value="<%= ListItems[i]._id %>" onchange="this.form.submit()">
                    <p>
                        <%= ListItems[i].name %>
                    </p>
                </div>
                <input type="hidden" name="ListName" value="<%= Title %>">
            </form>
            <% } %>
                <form class="item" action="/" method="post">
                    <input type="text" name="textValue" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="button" value="<%= Title %>">+</button>
                </form>
    </div>
    <%- include("footer") %>